target/
node_modules/
.env
data/
**/data/
web/dist/
cowiki.conf

.vscode

# OMG related
mcp-server
.github/agents
.github/hooks
.github/prompts
.github/skills
.github/*.md
.omg

# claude related
.claude/skills
.claude/CLAUDE.md
.claude/settings.local.json

.omc